---
import Styles from "../imports/styles.astro";
import Svg from "../imports/path.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="MIMO-CSS-BASICO.">
  <main>
	<Svg />
	<h1>CSS <span class="text-gradient">BÁSICO</span></h1>
    
  </main>
</Layout>


<Styles />
	
