---
import Styles from "../imports/styles.astro";
import Svg from "../imports/path.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="MIMO-CSS-BASICO.">
  <main>
    <Svg />
    <h1>CSS <span class="text-gradient">BÁSICO</span></h1>

    <p>
      Ahora pasaremos a crear sitios web atractivos con la ayuda de un lenguaje
      de <span class="text-gradient">estilo</span> llamado
      <span class="text-gradient">CSS</span>, lo cuál es la abreviatura de <span
        class="text-gradient">hojas de estilo en cascada</span
      >.
    </p>

    <p>
      Practiquemos cambiando un elemento de encabezado a <span class="blue"
        >blue</span
      >.
    </p>
  </main>
</Layout>

<Styles />
